{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 11"
          ]
        },
        "exclude": ["transform-async-to-generator"],
        "modules": false,
        "loose": true
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread"
  ],
  "env": {
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ]
      ],
      "plugins": [
        "transform-runtime",
        "external-helper",
        "transform-object-rest-spread"
      ],
    }
  }
}
